<div class="footer">
  <div class="container">
    <div class="social-links">
      <!-- <a
        href="https://github.com/tertiumnon"
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a
        href="https://leetcode.com/tertiumnon"
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon [icon]="['fab', 'leetcode']"></fa-icon>
      </a>
      <a
        href="https://www.hackerrank.com/tertiumnon"
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon [icon]="['fab', 'hackerrank']"></fa-icon>
      </a> -->
    </div>
  </div>
</div>
