.logo-image {
  margin: 10px auto 0;
  display: inline-block;
}

.logo-image img {
  width: 58px;
}

/* .logo {
  margin: 9px 0;
  text-align: center;
}

.logo .image {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 38px;
}

.logo .description {
  font-family: 'Quicksand', sans-serif;
  text-transform: lowercase;
  margin: -5px 0 0;
} */
