.logo {
  // font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;
}

.about {
  font-size: 0.7em;
  color: #bbb;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: darken(#bbb, 20%);
  }

  &.active {
    text-decoration: underline;
  }
}