.logo {
  font-size: 1.4em;
  text-decoration: none;
  margin-top: -1px;

  a {
    cursor: pointer;

    &.active {
      text-decoration: underline;
    }
  }
}

.about {
  font-size: 0.8em;
  color: #bbb;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: darken(#bbb, 20%);
  }

  &.active {
    text-decoration: underline;
  }
}