.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 10px #666;
}

.logo {
  font-size: 1.4em;
  text-decoration: none;
  margin-top: -1px;
}

.logo a {
  cursor: pointer;
}

.logo a.active {
  text-decoration: underline;
}

.about {
  font-size: 0.8em;
  color: #bbb;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;
}

.about:hover {
  color: #969696;
}

.about.active {
  text-decoration: underline;
}
