.logo {
  font-size: 1.2em;
  text-decoration: none;
  cursor: pointer;
  margin-top: -1px;
}

.about {
  font-size: 0.8em;
  color: #bbb;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: darken(#bbb, 20%);
  }

  &.active {
    text-decoration: underline;
  }
}