<div class="text-page about">
  <h1>About</h1>
  <p>Hi there! My name is Vitaly Balabanov (Vit Tertiumnon)!</p>
  <p>I'm a software engineer and I'm familiar with:</p>
  <ul>
    <li>HTML, CSS/LESS/SASS, JavaScript, TypeScript, NodeJS</li>
    <li>Angular, Angular Universal (SSR), ExpressJS, Webpack, Grunt, Gulp</li>
    <li>Semantic Mediawiki</li>
  </ul>
  <p>Technologies that I used in my work:</p>
  <ul>
    <li>PHP, Python, MySQL</li>
    <li>Electron, WebExtension</li>
    <li>Joomla, MODx, Bitrix</li>
  </ul>
  <p>Technologies that I tried:</p>
  <ul>
    <li>Dart, Go, C#</li>
    <li>Vue, React, NextJS</li>
    <li>Unity</li>
  </ul>
  <p>My favorite books:</p>
  <ul>
    <li>Clean Code</li>
    <li>Grocking Algorithms</li>
    <li>Head First Design Patterns</li>
    <li>The Essentials of Interaction Design</li>
  </ul>
  <p>My hobbies:</p>
  <ul>
    <li>Hiking</li>
    <li>Board games, Computer games, Game design</li>
    <li>Anime, Fantasy movies</li>
  </ul>
  <p>I have <a href="https://tertiumnon.medium.com" target="_blank">a blog on Medium</a>.</p>
  <p>
    Please support my projects like
    <a
      href="https://addons.mozilla.org/en-US/firefox/addon/bookmarks-manager/"
      target="_blank"
      >Bookmarks Manager</a
    >
    and many others:
  </p>
  <p>
    <a href="https://www.buymeacoffee.com/e2NTXuZ" target="_blank" style="font-size: large;"
      >Buy me a Coffee</a
    >
  </p>
</div>
