<div class="post-control-panel">
  <div class="container-fluid mx-auto flex justify-between items-center gap-4">
    <div class="flex gap-4 filters flex-1">
      <app-dropdown
        label="Category"
        [selectedOption]="selectedCategory"
        [options]="categories"
        (selectedOptionChange)="onCategoryChange($event)"
      ></app-dropdown>
      <app-dropdown
        label="Tag"
        [selectedOption]="selectedTag"
        [options]="tags"
        (selectedOptionChange)="onTagChange($event)"
      ></app-dropdown>
    </div>
    <app-dropdown
      label="Language"
      [selectedOption]="currentLang()"
      [options]="['en', 'ru']"
      (selectedOptionChange)="onLanguageChange($event)"
    ></app-dropdown>
  </div>
</div>
