.news-control-panel {
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-content: center;
	font-size: 0.8em;
	height: var(--control-panel-height);
	z-index: 1;
	top: var(--header-height);
	left: 0;
	background: linear-gradient(180deg, var(--CoderTheme-bg-color) 0%, var(--CoderTheme-bg-color--dark) 100%);
	backdrop-filter: blur(8px);
	border-bottom: 1px solid var(--CoderTheme-bg-color--light);
}

.news-control-panel .filters {
	display: flex;
}

.news-control-panel .filters .filter {
	margin: 0 0 0 20px;
}

.news-control-panel .filters .filter label {
	display: inline-block;
	font-size: 0.9em;
	margin-right: 4px;
}

.news-control-panel .filters .filter select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.news-control-panel .filters .filter select::-ms-expand {
	display: none;
}

.news-control-panel .filters .filter select {
	display: inline-block;
	height: 1.3em;
	cursor: pointer;
	border: none;
	color: var(--text-color);
	font-size: 0.9em;
	text-align: center;
}
