<app-page-loader [isLoading]="isLoading()"></app-page-loader>

<div class="news-control-panel"></div>

<div class="container-fluid" style="margin-top: var(--container-margin-top);">
  <div class="news-container">
  <div class="content">
    <h1>News</h1>

    <div class="news-feed">
      @for (newsItem of filteredNews(); track newsItem.link) {
        <div class="news-item">
          <div class="news-date">{{ newsItem.publishedAt }}</div>
          @if (newsItem.content) {
          <app-md-content [data]="newsItem.content"></app-md-content>
          }
        </div>
      }
    </div>
  </div>
  </div>
</div>
