<h1 mat-dialog-title class="project-card-dialog-header">{{ data.title }}</h1>
<div
  *ngIf="data.image != ''"
  mat-dialog-content
  class="project-card-dialog-content"
>
  <img mat-card-image class="project-card-dialog-image" [src]="data.image" />
</div>
<div mat-dialog-content class="project-card-dialog-description">
  {{ data.description }}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <a *ngIf="data.link != ''" mat-button [href]="data.link" target="_blank">
    <mat-icon>link</mat-icon>
  </a>
</div>
