<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>

    <mat-toolbar class="top-menu">
      <div class="container">
        <span class="logo">Tertiumnon</span>
      </div>
    </mat-toolbar>

    <main>

      <div class="container">

          <div fxLayout="row"
          fxLayoutGap="10px"
          gdColumns="auto auto auto"
          >
            <div fxFlex *ngFor="let project of projects" class="card-item">
                <app-project-card
                [title]="project.title"
                [year]="project.year"
                [type]="project.type"
                [image]="project.image"
                [categories]="project.categories"
                ></app-project-card>
              </div>
          </div>
    
        </div>

    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
