<div class="container-fluid content">
  <h1>What Time</h1>
  <h2>Now</h2>
  <p>{{ date() }}</p>
  <p>ISO: {{ isoDate() }}</p>
  <p>
    Time: {{ date() | date: "YYYY-MM-dd HH:mm:ss" }} ({{
      TimeService.timeZone()
    }})
  </p>
  <h2>Date timeZone Converter</h2>
  <div class="flex gap-1 pb-2">
    <div>
      <input type="date" name="date" [formControl]="initDateCtrl" />
    </div>
    <div>
      <input type="time" name="time" [formControl]="initTimeCtrl" />
    </div>
    <select name="timeZone" [formControl]="initTzCtrl">
      <option *ngFor="let tz of TimeService.timeZones()" [value]="tz">
        {{ tz }}
      </option>
    </select>
  </div>
  <div class="flex gap-1">
    <div>
      <input
        type="date"
        name="computedDate"
        [formControl]="computedDateCtrl"
        readonly
        class="w-32"
      />
    </div>
    <div>
      <input
        type="time"
        name="computedTime"
        [formControl]="computedTimeCtrl"
        readonly
      />
    </div>
    <select name="computedtimeZone" [formControl]="computedTzCtrl">
      <option *ngFor="let tz of TimeService.timeZones()" [value]="tz">
        {{ tz }}
      </option>
    </select>
    <button type="button" class="btn" (click)="onConvertBtnClick()">
      Convert
    </button>
  </div>
</div>
