.hide-arrow-mixin {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}

.project-control-panel {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px 10px;
  color: var(--text-color);

  .filters {
    display: flex;

    .filter {
      margin: 0 0 0 20px;

      label {
        display: inline-block;
        font-size: .9em;
        margin-right: 4px;
      }

      select {
        .hide-arrow-mixin;
        
        display: inline-block;
        border: none;
        color: var(--text-color);
        background-color: var(--bg-color);
        font-family: 'VT323', monospace;
        font-size: 0.9em;
        border-bottom: 1px dashed;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: var(--bg-color);
        }
      }
    }
  }
}