<div class="sticky top-0 mb-2 z-10 bg-fuchsia-950/50">
  <div class="container mx-auto project-control-panel">
    <div class="flex gap-4 filters">
      <app-dropdown
        label="Status"
        [(selectedOption)]="status"
        [options]="statusOptions"
        (selectedOptionChange)="onStatusChange($event)"
      ></app-dropdown>
      <app-dropdown
        label="Release"
        [(selectedOption)]="release"
        [options]="releaseOptions"
        (selectedOptionChange)="onReleaseChange($event)"
      ></app-dropdown>
    </div>
  </div>
</div>
