<div class="sticky top-0 z-10 project-control-panel-wrapper">
  <div class="container mx-auto project-control-panel">
    <div class="filters">
      <div *ngIf="isStatusFilterVisible" class="filter filter-by-status">
        <label>Status</label>
        <select [(ngModel)]="filterByStatus" [ngStyle]="{ 'width.px': filterByStatusWidth }" (change)="onStatusChange()">
          <option *ngFor="let item of filterStatuses" [value]="item.value">
            {{ item.viewValue }}
          </option>
        </select>
      </div>
      <div class="filter sort-by-attr">
        <label>Sort by Release</label>
        <select [(ngModel)]="sortByAttrVal" [ngStyle]="{ 'width.px': sortByAttrWidth }" (change)="onAttrChange()">
          <option *ngFor="let item of sortAttrs" [value]="item.value">
            {{ item.viewValue }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
