<div class="project-control-panel">
  <div class="container-fluid mx-auto flex justify-between items-center">
    <div class="flex gap-4 filters">
      <app-dropdown
        label="Status"
        [(selectedOption)]="status"
        [options]="statusOptions"
        (selectedOptionChange)="onStatusChange($event)"
      ></app-dropdown>
      <app-dropdown
        label="Release"
        [(selectedOption)]="release"
        [options]="releaseOptions"
        (selectedOptionChange)="onReleaseChange($event)"
      ></app-dropdown>
    </div>
  </div>
</div>
