<div class="text-page about">
  <p>Hi there!</p>
  <p>My name is Vitalii Balabanov aka @Tertiumnon.</p>
  <p>I'm a software engineer from 2014 and I'm familiar with:</p>
  <ul>
    <li>HTML, CSS/LESS/SASS, JavaScript, TypeScript</li>
    <li>Angular / Angular Universal (SSR), NodeJS, ExpressJS</li>
  </ul>
  <p>Technologies that I used in my work:</p>
  <ul>
    <li>Python, PHP, C#</li>
    <li>MySQL / MariaDB, MongoDB</li>
    <li>React, NestJS</li>
    <li>Electron, WebExtension</li>
  </ul>
  <p>I was working 7 years as Web Designer.</p>
  <p>
    I was working as System Analyst with semantic data and MediaWiki Engine.
  </p>
  <p>I like Agile methodology, Scrum framework, User Stories and Jira.</p>
  <p>My favorite books:</p>
  <ul>
    <li>Clean Code</li>
    <li>Grocking Algorithms</li>
  </ul>
  <p>My hobbies:</p>
  <ul>
    <li>Hiking</li>
    <li>Board games, Computer games, Game design and programming on Unity</li>
    <li>Anime, Fantasy movies and books</li>
  </ul>
  <p>Social network links:</p>
  <ul>
    <li>
      <a href="https://tertiumnon.medium.com" target="_blank"
        >My blog on Medium</a
      >
    </li>
  </ul>
  <p></p>
  <p>
    You can support my free projects like
    <a
      href="https://addons.mozilla.org/en-US/firefox/addon/bookmarks-manager/"
      target="_blank"
      >Bookmarks Manager</a
    >
    - you can
    <a href="https://www.buymeacoffee.com/e2NTXuZ" target="_blank"
      >Buy me a Coffee</a
    >
  </p>
</div>
