.emulator {
  margin-top: var(--content-mt);
}

.line {
  display: grid;
  grid-template-columns: 16px auto;
}

.line .number {
  grid-column: 1/2;
  justify-content: flex-end;
  align-items: center;
}

.line .number span {
  font-size: 0.9em;
  color: grey;
}

.line .text {
  grid-column: 2/3;
}

.line .text a,
.line .text a:visited {
  color: white;
}

.cli-input::before {
  position: absolute;
  margin-left: 0.4em;
  display: block;
  content: ">";
}

.cli-input input[name="cli"] {
  width: 100%;
  background-color: #00000040;
  position: relative;
}
