.line {
  display: grid;
  grid-template-columns: 16px auto;

  .number {
    grid-column: 1/2;
    justify-content: flex-end;
    align-items: center;

    span {
      font-size: 0.9em;
      color: grey;
    }
  }
  
  .text {
    grid-column: 2/3;

    a, a:visited {
      color: white;
    }
  }
}

