.bg {
  position: fixed;
  width: 100%;
  padding-top: 64px;
  height: calc(100vh - 32px);
  background-color: #32304d;
  background-image: url("../assets/images/honey-pie.png");
  background-size: cover;
  background-position: center;

  &.blur {
    filter: blur(5px);
  }
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 32px;
}
