.project-card {
  opacity: 0.9;
  background-color: white;
  box-shadow: var(--box-shadow);
  font-family: "Ubuntu Nerd Font", sans-serif;
  font-size: 1.1em;
}

.project-card:hover {
  box-shadow: var(--box-shadow--hover);
}

.project-card .header .project-card-title {
  text-transform: uppercase;
  margin-top: 0.2em;
  overflow: hidden;
  word-break: break-all;
  font-family: "Science Gothic", sans-serif;
}

.project-card .header .project-card-subtitle {
  color: #666;
}

.project-card .body {
  position: relative;
  overflow: hidden;
}

.project-card .body .project-card-image {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin-top: 0;
  margin-bottom: -4px;
}

.project-card .body .description {
  position: absolute;
  top: 0;
  padding: 14px 28px 14px 20px;
}

.project-card .project-card-content {
  margin-top: 0px;
  padding: 16px 14px;
}
