::ng-deep a {
  text-decoration: underline;
}

::ng-deep .post-date {
  font-size: 0.85em;
  color: white;
  font-family: monospace;
  opacity: 0.8;
  margin-bottom: 0.5em;
}

::ng-deep .post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6em;
}

::ng-deep .post-meta .breadcrumb-group {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

::ng-deep .post-meta .breadcrumb-symbol {
  opacity: 0.7;
  transform: translateY(-0.1em);
}

::ng-deep .post-meta .post-date {
  margin-bottom: 0;
}
