/* You can add global styles to this file, and also import other style files */

@import "./styles-fonts";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --text-color: #f6edff;
  --bg-color: #300075;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  font-size: 21px;
  color: white;
}

main,
code {
  // font-family: "Handjet", serif;
  font-family: "Roboto Mono", serif;
  font-size: 0.9em;
}

pre {
  overflow-y: auto;
  background-color: #00000048;
  padding: 0.6rem 1rem;
  margin: 0.4em 0;
  line-height: normal;
  border-radius: 12px;

  code {
    font-size: 0.9em;
  }
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: normal;
}

h2 {
  margin-top: 0.2em;
  font-size: 1.4em;
  font-weight: bold;
}

p {
  margin: 0.8rem 0;
  line-height: 1.3;
}

input,
select {
  color: black;
}

select {
  font-family: 'VT323', monospace;
}