/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #f6edff;
  --bg-color: #32304d;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'VT323', monospace;
  font-size: 20px;
  color: white;
}

select {
  font-family: 'VT323', monospace;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 980px;
}

// .text-page {
//   color: var(--text-color);

//   h1 {
//     font-family: 'VT323', monospace;
//     font-weight: normal;
//     text-transform: uppercase;
//   }

//   a {
//     color: white;
//   }
// }

/* HELPERS */

.hide {
  display: none;
}
